.menu__header {
  background-color: #fff;
  color: #1a1a1a;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #f0f0f0;
  font-family: "Oswald", "Arial", Tahoma;
}

.menu__container {
  max-width: 1335px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.menu__logo {
  margin-right: auto;
}

.menu__nav {
  display: flex;
  justify-content: center;
}

.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__list-item {
  display: inline;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu__link {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 700;
}

.menu__cart-button {
  position: relative;
  margin-left: auto;
  background-color: transparent;
  font-weight: 700;
  border: 0;
  padding: 0;
  color: #1a1a1a;
}

.menu__cart-button > svg {
  color: #1a1a1a;
  width: 20px;
  height: 20px;
}

.menu__badge {
  position: absolute;
  top: -70%;
  right: -20%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-weight: 700;
  color: white;
  border-radius: 100%;
}

.menu__hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu__header {
    position: relative;
  }

  .menu__nav {
    display: flex;
    position: absolute;
    top: 100%;
    left: -200%;
    width: 100%;
    background-color: #fff;
    padding: 0 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #f0f0f0;
  }

  .menu__cart-button {
    padding: 0;
    margin-right: 40px;
  }

  .menu__hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.825rem;
  }

  .menu__nav--open {
    left: 0;
    transition: left ease 450ms;
    z-index: 1;
  }

  .menu__nav--open .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .menu__nav--open .menu__list .menu__list-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0;
  }

  .menu__nav--open .menu__list .menu__list-item .menu__link {
    display: block;
    width: 100%;
  }
}
