.menu__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.search__dialog {
    max-width: 750px;
    width: 90%;
    margin: 5% auto;
    padding: 0;
    border-radius: 5px;
    border: 1px solid grey;
    flex-direction: column;
    row-gap: 10px;
}

.search__dialog::backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(58, 58, 61, 0.9);
}

.search__dialog--header {
    position: relative;
}

.search-close {
    position: absolute;
    top: 5%;
    right: 2%;
    background: transparent;
    border: 1px solid transparent;
    height: 20px;
    font-size: 3rem;
    padding: 15px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.search-close::hover {
    background-color: #efefef;
}

.search__dialog--header,
.search__dialog--body {
    padding: 1.5rem;
}

.search__dialog--form__control {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.search__dialog--form__label {
    font-size: 2rem;
    font-weight: 600;
}

input[type="search"].search__dialog--form__input {
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1;
}

input[type="search"].search__dialog--form__input::placeholder {
    font-size: 1.25rem;
}

.search__dialog--wrapper {
    max-height: 300px;
    overflow-y: scroll;
}

.search__dialog--results {
    display: none;
    padding: 0 1.5rem 1.5rem 1.5rem;
    flex-direction: column;
}

.search__dialog--results--show {
    display: flex;
}

.search__dialog--results__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    background-color: transparent;
    text-align: left;
}

.search__dialog--results__item:first-child {
    padding-top: 0;
}

.search__dialog--results__item:last-child {
    padding-bottom: 0;
}

.search__dialog--results__item:last-child {
    border-bottom: 0;
}

.search__dialog--results__item--header {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex: 1;
}

.search__dialog--results__item--image {
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    border-radius: 5px;
}

.search__dialog--results__item--content {
    width: 70%;
}

.search__dialog--results__item--content h4 {
    color: #0d6efd;
    font-size: 2rem;
}

.search__dialog--results__item--content p {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
}

.search__dialog--results__item--action h5 {
    font-size: 1.5rem;
    color: #77a464;
}

.search__dialog--results__item--action button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;
    color: #333;
    background-color: #f4f5f6;
    text-transform: uppercase;
}

.search__dialog--footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search__dialog--footer button {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;
    color: #333;
    background-color: #f4f5f6;
    text-transform: uppercase;
}
